@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/MontserratRegular.eot');
    src: url('../assets/fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../assets/fonts/MontserratRegular.woff2') format('woff2'),
         url('../assets/fonts/MontserratRegular.woff') format('woff'),
         url('../assets/fonts/MontserratRegular.ttf') format('truetype'),
         url('../assets/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/MontserratBold.eot');
    src: url('../assets/fonts/MontserratBold.eot') format('embedded-opentype'),
         url('../assets/fonts/MontserratBold.woff2') format('woff2'),
         url('../assets/fonts/MontserratBold.woff') format('woff'),
         url('../assets/fonts/MontserratBold.ttf') format('truetype'),
         url('../assets/fonts/MontserratBold.svg#MontserratBold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'MontserratThin';
    src: url('../assets/fonts/MontserratThin.eot');
    src: url('../assets/fonts/MontserratThin.eot') format('embedded-opentype'),
         url('../assets/fonts/MontserratThin.woff2') format('woff2'),
         url('../assets/fonts/MontserratThin.woff') format('woff'),
         url('../assets/fonts/MontserratThin.ttf') format('truetype'),
         url('../assets/fonts/MontserratThin.svg#MontserratThin') format('svg');
}
